---
layout: default
title: null
---

{% include metadatahome.html %}
{% include header2.html %}
<article>
<p>Saya seorang <s>pahlawan super</s> manusia biasa yang terlahir di Desa Jipang Kabupaten Brebes & saat ini tinggal di Jatiasih Kota Bekasi. Minat saya berkisar dari pengalaman kehidupan sehari-hari, jalan-jalan, wisata kuliner, makan enak serta hal menarik lainnya.{% include instagram.html username="ookrah" %}</p>
</article>
{% for post in site.posts limit:1 %}
{% endfor %}
{% for post in site.posts limit:1 %}
<article>
{% include titledate.html %}
{{post.excerpt}}
</article>
{% endfor %}
{% for post in site.posts offset:1 limit:4 %}
<article class="card">
{% include titledate.html %}
</article>
{% endfor %}
{% include footer2.html %}
