* {
box-sizing:border-box
}

* > :first-child {
margin-top:0
}

* > :last-child {
margin-bottom:0
}

body {
font:16px "Open Sans",sans-serif;
background:#fff;
color:#333;
padding:2rem 1.5rem;
line-height:1.5
}

@media all and (min-width: 40rem) {
body {
padding:5rem 0;
margin:0 auto;
max-width:37rem
}
}

h1,h2,h3,h4,h5,h6 {
font-weight:400;
margin-bottom: 0.25em;
}

h4 {
font-size:1.2em
}

h3 {
font-size:1.5em
}

h2 {
font-size:1.75em
}

h1 {
font-size:2em
}

a {
color:#3B94D9;
text-decoration:none;
overflow-wrap:break-word;
word-wrap:break-word
}

a:hover {
color:#4080bf
}

hr {
margin:3em 0;
height:1px;
background:#ddd;
border:none
}

article {
margin:3em 0
}

time {
opacity:.75;
font-size:90%
}

blockquote {
padding:1em;
margin:1.75rem 0;
background:#f2f2f2;
color:#555
}

ul,ol {
margin:1.75rem 0
}

li {
margin:.5em 0
}

img {
display:block;
max-width:100%;
margin:1.75rem 0
}

code {
background:#faebeb;
color:#dd3c3c;
padding:.2em .4em;
font-family:"Consolas","Monaco",monospace;
font-size:.8rem
}

pre {
padding:1em;
margin:1.75rem 0;
background:#222;
overflow:scroll;
font-family:"Consolas","Monaco",monospace;
line-height:1.6
}

pre code {
padding:0;
color:#ccc;
background:none
}

abbr[title] {
text-decoration:none;
border-bottom:1px dotted #555
}

q {
font-style:italic
}

q:before {
content:""
}

q:after {
content:""
}

table {
margin:1.75rem auto;
border-collapse:collapse;
width:100%
}

table th {
font-weight:600
}

table td,table th {
text-align:left;
padding:.5em 1em;
border:1px solid #ddd
}

table caption {
text-align:left;
font-size:.9rem;
padding-bottom:.5rem;
font-style:italic
}

dl {
margin:1.75rem 0
}

dt,dd {
margin:.5em 0
}

dt {
font-weight:600;
margin-bottom:0
}

dd {
padding-left:1em;
margin-top:0
}

header, footer {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
footer ol{
  margin: 0;
}
