* {
  box-sizing: border-box;
}

* > :first-child {
  margin-top: 0;
}

* > :last-child {
  margin-bottom: 0;
}

body {
  font: 16px "Open Sans", sans-serif;
  background: white;
  color: #555;
  padding: 2rem 1.5rem;
  line-height: 1.5;
}

@media all and (min-width: 40rem) {
  body {
    padding: 5rem 0;
    margin: 0 auto;
    max-width: 37rem;
  }
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 300;
  line-height: 1;
}

h4 {
  font-size: 1.2em;
}

h3 {
  font-size: 1.5em;
}

h2 {
  font-size: 2em;
}

h1 {
  font-size: 2.5em;
}

a {
  color: #6699cc;
  text-decoration: none;
  overflow-wrap: break-word;
  word-wrap: break-word;
}
a:hover {
  color: #4080bf;
}

hr {
  margin: 3em 0;
  height: 2px;
  background: #ddd;
  border: none;
}

article {
    margin: 3em 0;
}

time {
  opacity:.5;
  font-size: 90%;
}


blockquote {
  padding: 1em;
  margin: 1.75rem 0;
  background: #f2f2f2;
  color: #555;
}

ul,
ol {
  margin: 1.75rem 0;
}

li {
  margin: 0.5em 0;
}

img {
  display: block;
  max-width: 100%;
  margin: 1.75rem 0;
}

code {
  background: #faebeb;
  color: #dd3c3c;
  padding: 0.2em 0.4em;
  font-family: "Consolas", "Monaco", monospace;
  font-size: 0.8rem;
}

pre {
  padding: 1em;
  margin: 1.75rem 0;
  background: #222;
  overflow: scroll;
  font-family: "Consolas", "Monaco", monospace;
  line-height: 1.6;
}
pre code {
  padding: 0;
  color: #ccc;
  background: none;
}

abbr[title] {
  text-decoration: none;
  border-bottom: 1px dotted #555;
}

q {
  font-style: italic;
}
q:before {
  content: "";
}
q:after {
  content: "";
}

table {
  margin: 1.75rem auto;
  border-collapse: collapse;
  width: 100%;
}
table th {
  font-weight: 600;
}
table td,
table th {
  text-align: left;
  padding: 0.5em 1em;
  border: 1px solid #ddd;
}
table caption {
  text-align: left;
  font-size: 0.9rem;
  padding-bottom: 0.5rem;
  font-style: italic;
}

dl {
  margin: 1.75rem 0;
}

dt,
dd {
  margin: 0.5em 0;
}

dt {
  font-weight: 600;
  margin-bottom: 0;
}

dd {
  padding-left: 1em;
  margin-top: 0;
}

button {
  display: block;
  margin: 1.75rem auto;
  padding: 1em 2.5em;
  border: 2px solid #666;
  border-radius: 3px;
  font-size: 0.8rem;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  background: white;
  color: #666;
  -webkit-transition: background 0.1s, color 0.1s;
  transition: background 0.1s, color 0.1s;
}
button:hover {
  background: #666;
  color: white;
}
