html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{margin:0;padding:0;border:0;font-size:100%;font:inherit;vertical-align:baseline}
article,aside,details,figcaption,figure,footer,header,hgroup,menu,section{display:block}
body{line-height:1}
ol,ul{list-style:none}
blockquote,q{quotes:none}
blockquote:before,blockquote:after,q:before,q:after{content:'';content:none}
table{border-collapse:collapse;border-spacing:0}
hr{display:block;height:1px;border:0;border-top:1px solid #ccc;margin:1em 0;padding:0}
input,select{vertical-align:middle}
@font-face{font-family:'IstokWebRegular';src:url(/font/IstokWeb-Regular-webfont.eot);src:url(/font/IstokWeb-Regular-webfont.eot?#iefix)format(embedded-opentype),url(/font/IstokWeb-Regular-webfont.woff)format(woff),url(/font/IstokWeb-Regular-webfont.ttf) format("truetype"),url(/font/IstokWeb-Regular-webfont.svg#IstokWebRegular)format(svg);font-weight:400;font-style:normal}
body{background:f8f8f8;padding:4em 2em;font-family:'IstokWebRegular',Arial,sans-serif;color:#444;border-top:.25em solid #e51c23;font-size:1.175em;font-weight:400;line-height:2em}
h1,h2,h3,h4,h5,h6{font-weight:700}
h1{font-size:1.75em}
h2{font-size:1.5em}
h3{font-size:1.5em;margin:3% 0 0}
a,a:link,a:visited{color:#e51c23;text-decoration:none}
a:hover,a:active{text-decoration:none}
.wrapper{width:860px;margin:0 auto}
blockquote{border-left:1px solid #e5e5e5;margin:0;padding:0 0 0 20px;font-style:italic}
img{max-width:100%}
header{width:328.49px;float:left;position:fixed}
section{width:531.51px;float:right;padding-bottom:50px}
small{font-size:.9em;display:block}
nav{display:inline-grid}
footer{width:270px;float:left;position:fixed;bottom:50px}
@media print,screen and (max-width:960px) {
div.wrapper{width:auto;margin:0}
header,section,footer{float:none;position:static;width:auto}
header{padding-right:320px}
}
@media print,screen and (max-width:720px) {
body{word-wrap:break-word}
header{padding:10% 0}
}
@media print,screen and (max-width:480px) {
body{padding:15px}
header{padding:15% 0}
}
