<nav class="share">
<ul>
<li><a href="https://www.facebook.com/sharer/sharer.php?u={{ site.url }}{{ site.baseurl }}{{ page.url }}" title="facebook">FB</a></li>
<li><a href="https://twitter.com/intent/tweet?text={{ page.title }}&url={{ site.url }}{{ site.baseurl }}{{ page.url }}" title="twitter">Twtr</a></li>
<li><a href="https://www.linkedin.com/shareArticle?mini=true&url={{ site.url }}{{ site.baseurl }}{{ page.url }}" title="linkedin">in</a></li>
<li><a href="mailto:?subject={{ page.title }}&amp;body=Silahkan berkunjung ke {{ site.url }}{{ site.baseurl }}{{ page.url }}" title="email">Mail</a></li>
</ul>
</nav>
