<!DOCTYPE html>
<html lang="id">
<head>
<title>{% if page.title %}{{ site.title }} - {% endif %}{{ page.title }}</title>
<meta charset="utf-8" />
<meta name="author" content="Ook Rahmawan" />
<meta name="description" content="{{ site.description }}" />
<link rel="alternate" type="application/atom+xml" title="RSS" href="{{ site.url }}/atom.xml" />
<link rel="stylesheet" type="text/css" href="/styles.css" />
<link  rel="stylesheet" href="https://fonts.googleapis.com/css?family=Noto+Serif&display=swap" /> 
<!--[if lt IE 9]><script type="text/javascript" src="/html5.js"></script><![endif]-->
</head>
<body>
<section>
<nav><a href="/">Beranda</a><a href="mailto:ookrahmawan@mail.ru">Kontak</a></nav>
<header class="name"><h1>{{ site.name }}</h1></header>
<article>{{ content }}</article>
<footer>&copy; 2016-{{ site.time | date: "%Y" }} <a href="/">{{ site.title }}</a></footer>
</section>
</body>
</html>
