---
layout: default
---

<nav><ul><li><a href="/">Beranda</a></li><li><a href="mailto:ookrahmawan@mail.ru">Kontak</a></li></ul></nav>
<header>{% if page.link %}<h1><a href="{{ page.link }}">{{page.title}}</a> &infin;</h1>{% else %}<h1>{{page.title}}</h1>{% endif %}</header>
<article class="post">
<time datetime="{{ page.date | date: '%Y-%m-%d' }}">{{ page.date | date: "%d-%m-%Y"}}</time>
{{content}}
<ul><li>{% if page.previous.url %}Sebelumnya: <a href="{{ page.previous.url }}">{{page.previous.title}}</a>{% endif %}</li><li>{% if page.next.url %}Selanjutnya: <a href="{{ page.next.url }}">{{page.next.title}}</a>{% endif %}</li></ul></article>
<footer>&copy; 2015-{{ site.time | date: "%Y" }} <a href="/">{{ site.title }}</a></footer>
