---
layout: default
---
<header><h1><a href="/">{{ site.name }}</a></h1><p class="description">{{ site.description }}</p></header>
<article class="post">{% if page.link %}<h2 class="posttitle"><a href="{{ page.link }}">{{page.title}}</a> &rarr;</h2>{% else %}<h2>{{page.title}}</h2>{% endif %}
<time datetime="{{ page.date | date: '%Y-%m-%d' }}">{{ page.date | date: "%d-%m-%Y"}}</time>
{{content}}
</article>
<nav class="nextprev"><ul><li>{% if page.previous.url %}<a href="{{ page.previous.url }}" title="{{page.previous.title}}">&laquo; Sebelumnya</a>{% else %}&laquo; Sebelumnya{% endif %}</li><li>{% if page.next.url %}<a href="{{ page.next.url }}" title="{{page.next.title}}">Selanjutnya &raquo;</a>{% else %}Selanjutnya &raquo;{% endif %}</li></ul></nav>
<footer><p>&copy;15-{{ site.time | date: "%y" }} <a href="/">{{ site.name }}</a></p><nav class="menu"><ul>
<li><a href="mailto:ookrahmawan@mail.ru">Kontak</a></li>
<li><a href="http://ook.web.id/sitemap.xml">RSS</a></li>
</ul></nav></footer>
